<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/font-awesome/4.2.0/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/jquery-ui.min.css" />

<!-- text fonts -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/fonts/fonts.googleapis.com.css" />

<!-- ace styles -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-skins.min.css" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-part2.min.css" class="ace-main-stylesheet" />
<![endif]-->

<!--[if lte IE 9]>
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="http://<?=$config->adomain?>/ace/js/ace-extra.min.js"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
<script src="http://<?=$config->adomain?>/ace/js/html5shiv.min.js"></script>
<script src="http://<?=$config->adomain?>/ace/js/respond.min.js"></script>
<![endif]-->
